body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Light Blue */
}

.login-container, .page-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #1976d2; /* Blue */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #00796b; /* Green */
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #388e3c; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2e7d32; /* Darker Green */
}

#errorMessage {
    color: red;
    margin-top: 10px;
}

.light-mode {
    background-color: #e0f7fa; /* Light Blue */
    color: #000;
}

.dark-mode {
    background-color: #004d40; /* Dark Green */
    color: #fff;
}
